source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0

nuget FSharp.Core
nuget Argu 
nuget LanguageExt.Core
nuget System.Linq.Async
nuget FSharp.Control.AsyncSeq
nuget Open.ChannelExtensions
nuget System.Text.Json
nuget HtmlAgilityPack
nuget Microsoft.Extensions.Hosting
nuget Discord.Net.Webhook
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.Extensions.Configuration.Abstractions
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.EnvironmentVariables
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Configuration.UserSecrets
nuget MongoDB.Driver.Core
nuget MongoDB.Driver
nuget TaskBuilder.fs
nuget Saturn
nuget Giraffe
nuget FSharpx.Collections

nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.Seq
nuget Serilog.Formatting.Elasticsearch

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector
nuget FsUnit.xUnit