source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.0, netstandard2.1

nuget Akka
nuget Akka.Streams
nuget Akka.Logger.Serilog
nuget Akka.Serialization.Hyperion
nuget LanguageExt.Core
nuget System.Linq.Async
nuget Open.ChannelExtensions
nuget System.Text.Json
nuget HtmlAgilityPack
nuget Microsoft.Extensions.Hosting
nuget Discord.Net.Webhook
nuget Microsoft.Extensions.DependencyInjection.Abstractions

nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.Seq
nuget Serilog.Formatting.Elasticsearch

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector